<div class="container">
  <div>
    <form method="POST" action="/auth/login">
      <div class="field">
        <input class="input" name="email" placeholder="email" />
      </div>

      <div class="field">
        <input
          class="input"
          name="password"
          placeholder="*****"
          type="password"
        />
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>
